.contenedor-cartas {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 999;
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5rem;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.carta {
  width: 3rem;
  height: 5rem;
  border-radius: 7px;
  border: 1px solid rgba(187, 101, 255, 1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.carta.elevada {
  transform: translateY(-8px);
  background: rgba(228, 164, 255, 1);
  border: rgba(228, 164, 255, 1);
  color: rgba(51, 0, 114, 1);
}

.carta.jugador:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-4px);
}

.carta.espectador {
  opacity: 0.4;
  pointer-events: none;
}

.texto.elige {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 1.3rem;
}
@media (max-width: 375px) {
  .contenedor-cartas {
    bottom: 1rem;
  }

  .carta {
    width: 2.8rem;
    height: 4.8rem;
    font-size: 13px;
  }

  .texto.elige {
    bottom: 8rem;
    font-size: 15px;
  }
}
