<div class="usuario-card" [ngClass]="modo">
  <div class="contenido">
    <div class="iniciales" *ngIf="esUsuarioActual">{{ iniciales }}</div>

    <div
      class="carta"
      *ngIf="!esUsuarioActual"
      [ngClass]="{
        'sin-carta': !carta,
        'oculta': carta && !mostrarCartas,
        'revelada': carta && mostrarCartas,
        'espectador': modo === 'espectador',
        'usuario-actual': esUsuarioActual
      }"
    >
      <ng-container *ngIf="carta; else sinCarta">
        <span *ngIf="mostrarCartas; else oculta"> {{ carta }} </span>
      </ng-container>

      <ng-template #oculta>
        <span class="vacio"></span>
      </ng-template>

      <ng-template #sinCarta>
        <span class="vacio"></span>
      </ng-template>
    </div>

    <p class="nombre">{{ nombre }}</p>
  </div>
</div>
