@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.barra-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  color: white;
}

.icono-izquierda img {
  height: 3.8rem;
  width: 3.8rem;
}

.nombre-partida {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Poppins";
}

.acciones-derecha {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iniciales-boton {
  width: 2.3rem;
  height: 2.3rem;
  background: rgba(189, 189, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  color: rgba(51, 0, 114, 1);
  font-size: 1rem;
  line-height: 100%;
  margin-bottom: 4px;
}

.iniciales-boton:hover {
  box-shadow: 0 0 20px white;
}

.btn-invitar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 154px;
  height: 32px;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-invitar:hover {
  box-shadow: 0 0 20px white;
}
.opaco {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 390px) {
  .nombre-partida {
    font-size: 12px;
  }

  .iniciales-boton {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .btn-invitar {
    width: 120px;
    height: 28px;
    font-size: 10px;
  }
  .icono-izquierda img {
    height: 30px;
    width: 30px;
  }
}
