<div class="barra-superior">
  <div class="icono-izquierda">
    <img src="./images/logo-app.png" />
  </div>

  <div class="nombre-partida">{{ nombrePartida }}</div>

  <div class="acciones-derecha">
    <button class="iniciales-boton" (click)="mostrarAdminModal.set(true)">
      {{ inicialesPropietario }}
    </button>
    <button
      class="btn-invitar"
      [ngClass]="{ opaco: !esPropietario }"
      (click)="abrirModalSiEsPropietario()"
    >
      Invitar jugadores
    </button>
  </div>
</div>

<app-admin-modal-controls-component
  *ngIf="mostrarAdminModal() && usuarioActual"
  [usuarioActual]="usuarioActual"
  [jugadores]="usuariosEnMesa"
  [cartasReveladas]="cartasReveladas"
  [modoActualCartas]="modoCartas"
  (cerrar)="mostrarAdminModal.set(false)"
  (cambiarModoUsuario)="onCambiarModo()"
  [nombrePartida]="nombrePartida"
></app-admin-modal-controls-component>

<app-invitar-jugadores-modal-component
  *ngIf="mostrarInvitarModal()"
  [partida]="nombrePartida"
  (cerrar)="mostrarInvitarModal.set(false)"
></app-invitar-jugadores-modal-component>

<div *ngIf="cartasListas()">
  <app-mesa-votacion-template-component
    [usuarioActual]="usuarioActual!"
    [usuariosEnMesa]="usuariosEnMesa"
    [cartas]="cartasDisponibles"
    [cartasReveladas]="cartasReveladas"
    [promedio]="promedioVotacion()"
    [votos]="votosPorCarta()"
    [mostrarResumen]="mostrarResumen()"
    [reiniciarSeleccion]="reiniciarSeleccion"
    (seleccionarCarta)="manejarCartaSeleccionada($event)"
    (invitar)="mostrarInvitarModal.set(true)"
    (revelar)="revelarCartas()"
    (reiniciar)="reiniciarPartida()"
    (contarVotosClick)="contarVotos()"
    [animandoConteo]="animandoConteo()"
    [todosHanVotado]="todosHanVotado"
    [esPropietario]="usuarioActual?.rol === 'propietario'"
  ></app-mesa-votacion-template-component>
</div>

<app-crear-usuario-modal-component
  *ngIf="mostrarModal() && cartasListas()"
  [nombrePartida]="nombrePartida"
  (usuarioCreado)="guardarUsuario($event)"
  (cerrar)="mostrarModal.set(false)"
></app-crear-usuario-modal-component>

<app-mensaje-emergente-component></app-mensaje-emergente-component>
