<div class="modal-overlay">
  <div class="modal-content">
    <div class="encabezado-modal">
      <h2 class="titulo">Invitar jugadores</h2>
      <button class="boton-cerrar" type="button" (click)="cerrarModal()">
        ×
      </button>
    </div>

    <div class="contenedor-link">
      <p class="link">{{ obtenerLink() }}</p>

      <app-button-dark
        [texto]="'Copiar link'"
        [tipo]="'button'"
        (click)="copiarEnlace()"
      ></app-button-dark>
    </div>
  </div>
</div>
