<div class="modal-content">
  <h2>Configuración de rol</h2>

  <!-- MENSJE -->
  <p class="mensaje-usuario" *ngIf="usuarioActual">
    Hola {{ usuarioActual.nombre }}, actualmente tu rol es de
    <strong>{{ usuarioActual.rol }}</strong>
    e ingresaste con el modo
    <strong>{{ usuarioActual.modo }}</strong>.
  </p>

  <!--  DELEGAR ROL -->
  <div *ngIf="usuarioActual?.rol === 'propietario'">
    <label for="delegar">Delegar rol de propietario:</label>
    <select id="delegar" [(ngModel)]="jugadorSeleccionado">
      <option *ngFor="let jugador of jugadores" [value]="jugador.nombre">
        {{ jugador.nombre }}
      </option>
    </select>
    <button (click)="delegarRol()">Delegar</button>

    <!--  NUEVO SELECT PARA CAMBIAR MODO DE CARTAS -->
    <div class="modo-cartas-select" >
      <label for="modoCartas">Modo de cartas:</label>
      <select
        id="modoCartas"
        [(ngModel)]="modoCartas"
        (change)="cambiarModoCartas()"
      >
        <option value="numeros">Números</option>
        <option value="letras">Letras</option>
      </select>
    </div>
  </div>

  <!-- CAMBIA MODO CARTAS -->
  <div class="contenedor-button"> 
  <app-button-dark
    *ngIf="usuarioActual?.modo"
    [texto]="usuarioActual.modo === 'jugador' ? 'Cambiar a espectador' : 'Cambiar a jugador'"
    [tipo]="'button'"
    (click)="emitirCambioModo()"
  ></app-button-dark>
</div>
  <button (click)="cerrarModal()">Cerrar</button>
</div>


