.selector-circulo label {
  position: relative;
  padding-left: 2.25rem;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
  color: white;
  flex-direction: row-reverse;
}
.selector-circulo input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.selector-circulo label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: rgba(100, 41, 205, 0.3);
  border: 1px solid rgba(187, 101, 255, 1);
  box-shadow: 0 0 6px rgba(187, 101, 255, 1) inset;
  transform: translateY(-50%);
}
.selector-circulo label.seleccionado::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: rgba(187, 101, 255, 1);
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  box-shadow: 0 0 6px rgba(189, 189, 255, 0.7) inset;
}

.selector-circulo label {
  position: relative;
  padding-left: 2.25rem;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
  color: white;
  flex-direction: row-reverse;
}

.selector-circulo input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.selector-circulo label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: rgba(100, 41, 205, 0.3);
  border: 0.0625rem solid rgba(187, 101, 255, 1);
  box-shadow: 0 0 0.375rem rgba(187, 101, 255, 1) inset;
  transform: translateY(-50%);
  transition: border-color 0.3s ease;
}

.selector-circulo label.seleccionado::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: rgba(187, 101, 255, 1);
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0.375rem rgba(189, 189, 255, 0.7) inset;
}

@media (max-width: 375px) {
  .selector-circulo label {
    font-size: 0.875rem;
    padding-left: 1.75rem;
  }

  .selector-circulo label::before {
    width: 1.1rem;
    height: 1.1rem;
  }

  .selector-circulo label.seleccionado::after {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@media (max-width: 768px) {
  .selector-circulo label {
    font-size: 0.95rem;
    padding-left: 2rem;
  }

  .selector-circulo label::before {
    width: 1.2rem;
    height: 1.2rem;
  }

  .selector-circulo label.seleccionado::after {
    width: 0.625rem;
    height: 0.625rem;
  }
}

@media (min-width: 1024px) {
  .selector-circulo label {
    font-size: 1rem;
    padding-left: 2.25rem;
  }

  .selector-circulo label::before {
    width: 1.3rem;
    height: 1.3rem;
  }

  .selector-circulo label.seleccionado::after {
    width: 0.75rem;
    height: 0.75rem;
  }
}
