.mensaje-error {
  color: #ffffff;
  margin-top: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: left;
}

.mensaje-error small::before {
  content: "!";
  color: #ffffff;
  margin-right: 4px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 375px) {
  .mensaje-error {
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .mensaje-error small::before {
    font-size: 1rem;
    margin-right: 0.2rem;
  }
}

@media (max-width: 768px) {
  .mensaje-error {
    font-size: 0.95rem;
    margin-top: 0.3rem;
  }

  .mensaje-error small::before {
    font-size: 1.1rem;
    margin-right: 0.3rem;
  }
}

@media (min-width: 1024px) {
  .mensaje-error {
    font-size: 1rem;
    margin-top: 0.3125rem;
  }

  .mensaje-error small::before {
    font-size: 1.125rem;
    margin-right: 0.25rem;
  }
}
