.contenedor-formulario {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-crear-usuario {
  width: 514px;
  height: 294px;
  border-radius: 25px;
  border: 1px solid #bb65ff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #1f0d3f;
}
app-button-dark:active {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

app-button-dark:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
